@model Taskk.Models.Entity.Phone
@{
    ViewBag.Title = "AddPhone";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@if (TempData["Error"] == "errorline")
{

    <div class="alert alert-danger alert-dismissible" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Telefon numarası sistemde var</strong>
    </div>
}
@if (TempData["Error2"] == "errorline2")
{

    <div class="alert alert-danger alert-dismissible" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Telefon numarası maksimum 10 karakter olmalı</strong>
    </div>
}

<form method="post" class="form-group">
    @*<div>
            <label>Telefon Numarası</label>
            <input type="text" class="form-control" name="PhoneNumber" />

        </div>*@
    <div>
        <label>Telefon Numarası</label>
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @maxlength = "10" })
        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @style = "color:red" })
        <br />
    </div>
    <div>
        <label>Kişi Kontağı Seçiniz</label>
        @Html.DropDownListFor(m => m.Personal1.ID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Telefon Ekle</button>
    </div>

</form>